.box {
    height: 22px;
    width: 50px;
    margin-bottom: 15px;
    border: 1px solid black;

  }
  
  .red {
    background-color: red;
  }
  
  .green {
    background-color: green;
  }
  
  .blue {
    background-color: blue;
  }